# VS code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/devcontainer.json

# Environment and secrets
.env
.env.*
!.env.example

# Front end
front-end/node_modules/
front-end/dist/
front-end/.angular/
front-end/.cache/
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/pnpm-debug.log*

# Back end
back-end/bin/
back-end/obj/
back-end/.user
back-end/.suo
*.nupkg
*.snupkg